
{#
/**
 * @file
 * Theme override for the partial page print placeholder document.
 *
 * @see template_preprocess_html()
 * @see page--print-document.html.twig
 * @see html.html.twig
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
</head>
<body{{ attributes }}>
{{ page }}
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
