{#
/**
 * @file
 * Theme override for the partial page print placeholder document.
 *
 * @see template_preprocess_page()
 * @see html--print-document.html.twig
 * @see html.html.twig
 */
#}
<div class="layout-container">
  <main role="main">
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>
</div>
