{#
/**
 * @file
 * Default theme implementation for the partial page print button render element.
 *
 * Available variables:
 * - attributes: Attributes for the button tag.
 * - content: The text to display within the button tag.
 */
#}
<button{{ attributes }}>{{ content }}</button>
